<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h4>Inizia una nuova sessione</h4>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 text-justify">
			<h6>
				Questa sessione sarà divisa in due fasi:
			</h6>
			<h5>Fase prima:</h5>
			<p>Vedrai sulla <em>sinistra</em> un'<strong>opera</strong> (un dipinto o un estratto di una sinfonia)<br>e sulla <em>destra</em> due <strong>parole</strong> con al centro un "pallino".
			<br>
			Trascinando il pallino con il mouse lo puoi muovere a <em>destra</em> o <em>sinistra</em> avvicinandolo ad una delle due <strong>parole</strong>. Il tuo compito è <strong>valutare</strong> quale delle due parole si associa all'<strong>opera</strong> avvicinando o allontanando il pallino. Chiaramente il pallino può essere posizionato in un qualunque punto a tuo piacere.
			<br>
			Se nessuna delle due parole si associa all'opera puoi lasciare il pallino al <strong>centro</strong>.
			<br>
			Dopo aver posizionato il pallino in un punto a piacere nella scala potrai premere il pulsante <em>"continua"</em> e passare alle parole successive.</p>
			<h5>Fase seconda:</h5>
			<p>Prima della seconda fase ci sarà una <strong>pausa</strong> di <strong>10 minuti</strong>, nella quale ti verrà spiegato il funzionamento della seconda fase.</p>
			<h6>Quando senti pronto premi il pulsante <em>Inizia</em></h6>
		</div>
	</div>
	<div class="row">
		<%= render 'form' %>
	</div>
	<div class="row">
		<br><br>
		<div class="col-lg-3">
			<%= link_to 'Annulla', root_path, class: 'btn btn-sm btn-outline-info' %>
		</div>
	</div>
</div>


