<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h4>Inizia una nuova sessione</h4>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 text-justify">
			<h6>
				Questa prima sessione dell'esperimento è divisa in due fasi, consistente nella valutazione di stimoli visivi (dipinti) ed auditivi (clips musicali).
			</h6>
			<p>Sulla sinistra dello schermo sono posizionati gli stimoli (vedrà un dipinto o ascolterà una clip musicale), mentre sulla destra è posta una scala di valutazione tra due aggettivi contrari. Il cursore tra i due aggettivi può essere trascinato verso destra o verso sinistra, avvicinandolo ad ognuno dei due. Il compito consiste nel valutare quale dei due aggettivi sia associabile allo stimolo di volta in volta presentato, e in quale misura, posizionando il cursore nel punto che lei ritiene più appropriato.</p>
			<p>Una volta effettuata la scelta, prema il pulsante "Conferma" in basso.</p>
			<p>Nel caso valuti che nessuno dei due attributi sia associabile allo stimolo, può lasciare il cursore al centro e confermare la scelta. Premendo il pulsante "Continua" può passare alla valutazione successiva dello stimolo su altre coppie di aggettivi contrari.</p>
			<p>Nel caso valuti che nessuno dei due attributi sia associabile allo stimolo, può lasciare il cursore al centro e confermare la scelta. Premendo il pulsante "Continua" può passare alla valutazione successiva dello stimolo su altre coppie di aggettivi contrari.</p>
			<p>Alla fine della sessione ci sarà una pausa di 10 minuti, dopo la quale inizierà la seconda con le istruzioni per il compito da svolgere.</p>
			<h6>Quando è pronto/a, prema il pulsante <em>"Inizia"</em>.</h6>
		</div>
	</div>
	<div class="row">
		<%= render 'form' %>
	</div>
	<div class="row">
		<br><br>
		<div class="col-lg-3">
			<%= link_to 'Annulla', root_path, class: 'btn btn-sm btn-outline-info' %>
		</div>
	</div>
</div>


