<h1>You made it!</h1>
<h6>But this is just a break</h6>
<p>Take few menutes and get ready fot the next part!</p>

<%= link_to "Continue", { controller: "finalphases", action: "show", id: @session.finalphases.first }, class: 'btn btn-outline-success' %>