<h1 class="text-xs-center">Paint and Symphony</h1>

<div class="container">
	<div class="row">
		<hr>
		<div class="col-lg-6">
			<br>
			<h3 class="text-lg-center">New Experiment</h3>
			<div class="row">
				<br>
				<div class="col-md-4 offset-md-4">
					<%= link_to "Go", @index, class: "btn btn-success btn-lg btn-block" %>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<br>
			<h3 class="text-lg-center">Data Gathering</h3>
			<div class="row">
				<br>
				<div class="col-md-4 offset-md-4">
					<%= link_to "Collect", @index, class: "btn btn-warning btn-lg btn-block" %>
				</div>
			</div>
		</div>
	</div>
</div>