// Place all the styles related to the finalphase controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.finalphase-controller {
	position: fixed;
	height: 35%;
	top: 75%;
	right: 15%;
}

.audio-finalphase {
    position: absolute;
    bottom: 50px;
    left: 555px;
}

.picture-finalphase {
	padding-top: 12px;
}

#image-big-finalphase {
	position: relative;
	height: auto;
	top: 100px;
	left: 200px;
	width: 1000px;
}

.small-three {
	position: relative;
	top: 15px;
	left: 5%;
	margin-bottom: 15px;
}

.small-three-hover {

}

.numero-hover {
	font-size: 100px;
	padding-right: 20px;
	margin-left: 20px;
}

.finalphase-choice {
	position: relative;
	top:10px;
	padding-right: 9px;
	width: 100px;
}

.btn-confirm-finalphase {
	margin-top: 35px;
	margin-left: 127px;
}
.istruzioni-final {
	margin-top: 30%;
	color: #000;
}