// Place all the styles related to the finalphase controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.finalphase-controller {
	position: fixed;
	height: 35%;
	top: 75%;
	right: 15%;
}

.audio-finalphase {
	position: relative;
	top: 30px;
	left: 15px;
}

.picture-finalphase {
	padding-top: 12px;
}

#image-big-finalphase {
	position: relative;
	// max-width: 90%;
	// width: 100%;
	height: auto;
	// TODO: redefine in px
	max-height: 1400px;
	top: 15px;
	// left: 5%;
}

.small-three {
	position: relative;
	top: 15px;
	left: 5%;
	margin-bottom: 15px;
}

.finalphase-choice {
	position: relative;
	top:10px;
	padding-right: 9px;
	max-width: 100px;
}

.btn-confirm-finalphase {
	margin-top: 35px;
	margin-left: 127px;
}
.istruzioni {
	margin-top: 20%;
	color: #BBB;
}