// Place all the styles related to the finalphase controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.audio-finalphase {
	position: fixed;
	bottom: 20%;
	right: 10%;
}

.finalphase-controller {
	position: fixed;
}

.picture-finalphase {
	padding-top: 12px;
}