// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.greetings {
	margin-top: 30%;
	margin-bottom: 30%;
}

.padding-top {
	padding-top: 50px;
}